{% block css %}
<link href="{{ url_for('static', filename='css/style_chung.css') }}"
      rel="stylesheet">
{%endblock%}
<header class="header" data-header>
    <div class="container">

        <a href="#" class="logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" width="162" height="50" alt="EduWeb logo">
        </a>

        <nav class="navbar" data-navbar>

            <div class="wrapper">
                <a href="#" class="logo">
                    <img src="./static/images/logo.svg" width="162" height="50" alt="EduWeb logo">
                </a>

                <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>
            </div>

            <ul class="navbar-list">

                <li class="navbar-item">
                    <a href="{{url_for('home')}}" class="navbar-link" data-nav-link>Home</a>
                </li>


                <li class="navbar-item">
                    <a href="{{url_for('home')}}" class="navbar-link" data-nav-link>About</a>
                </li>

                <li class="navbar-item">
                    <a href="{{url_for('home')}}" class="navbar-link" data-nav-link>Courses</a>
                </li>

                <li class="navbar-item">
                    <a href="{{url_for('home')}}" class="navbar-link" data-nav-link>Blog</a>
                </li>

                <li class="navbar-item">
                    <a href="{{url_for('home')}}" class="navbar-link" data-nav-link>Contact</a>
                </li>

            </ul>

        </nav>

        <div class="header-actions">

            {%if current_user.is_authenticated %}

            <ul class="navbar-item usermenu">
                <a class="nav-link" href="{{url_for('profile_user')}}">
                    {%if current_user.avatar %}
                    <img class="rounded-circle"
                         src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/315256594_1475404026274288_2347858660450415372_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=OMXwsJ82g7MAX9eiI6T&_nc_ht=scontent.fsgn2-4.fna&oh=00_AfDlQ7ixYpcKYM6YB-hY2t0LkPyZe3INOHwJTjwSv4eIKQ&oe=643B1080"
                         width="50" height="30px">
                    {%else%}
                    <img class="rounded-circle" src="{{url_for('static', filename='image/wibu.png')}}" width="30">
                    {%endif%}
                    <!--                        {{current_user.username}}-->
                </a>
                <ul>
                    <li class="box">

                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{url_for('profile_user')}}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('user_signout')}}">Logout</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('chat_room')}}">Chat room <span
                                class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('question_answering')}}">Question Answering <span
                                class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('question')}}">Question<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('predict')}}">Predict<span
                                class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('summary')}}">Summary<span
                                class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('stat')}}">Stat<span class="sr-only"></span></a>
                    </li>
                </ul>


            </ul>
            {%endif%}

            {%if not current_user.is_authenticated %}
            <a href="{{url_for('user_signin')}}" class="btn has-before">
                <span class="span">Đăng nhập</span>

                <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>
            {%endif%}
            <button class="header-action-btn" aria-label="open menu" data-nav-toggler>
                <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
            </button>

        </div>

        <div class="overlay" data-nav-toggler data-overlay></div>

    </div>
</header>


