{% extends 'layout/base.html' %}

{% block title %} Trang chu {% endblock %}


{% block content %}

<main>
    <article>

        <!--
          - #HERO
        -->

        <section class="section hero has-bg-image" id="home" aria-label="home"
                 style="background-image: url('./static/images/hero-bg.svg')">
            <div class="container">

                <div class="hero-content">

                    <h1 class="h1 section-title">
                        Chìa khóa để mở cửa <span class="span"> tri thức</span>
                    </h1>



                    <p class="hero-text">
                        Brato Education là nền tảng được thiết kế để giúp sinh viên học tập tốt hơn bằng cách cung cấp
                        các công cụ và tài nguyên giáo dục hiệu quả.
                    </p>

                    <a href="#" class="btn has-before">
                        <span class="span">Tìm hiểu tiện ích</span>

                        <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                    </a>

                </div>

                <figure class="hero-banner">

                    <div class="img-holder one" style="--width: 270; --height: 300;">
                        <img src="./static/images/hoang.jpg" width="270" height="300" alt="hero banner"
                             class="img-cover">
                    </div>

                    <div class="img-holder two" style="--width: 240; --height: 370;">
                        <img src="./static/images/phat.jpg" width="240" height="370" alt="hero banner"
                             class="img-cover">
                    </div>

                    <!--            <img src="./static/images/hero-shape-1.svg" width="380" height="190" alt="" class="shape hero-shape-1">-->

                    <img src="./static/images/f.png" width="622" height="551" alt=""
                         class="shape hero-shape-2" style="margin-top:44px">

                </figure>

            </div>
        </section>


        <!--
          - #CATEGORY
        -->

        <section class="section category" aria-label="category">
            <div class="container">

                <p class="section-subtitle">Brato Education</p>

                <h2 class="h2 section-title">
                    Nơi truyền <span class="span">cảm hứng</span> học tập cho bạn
                </h2>

                <p class="section-text">
                    Với những tính năng hữu ích để hỗ trợ sinh viên
                </p>

                <ul class="grid-list">

                    <li>
                        <div class="category-card" style="--color: 170, 75%, 41%">

                            <div class="card-icon">
                                <img src="./static/images/category-1.svg" width="40" height="40" loading="lazy"
                                     alt="Online Degree Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="{{url_for('calendar')}}" class="card-title">Time Table</a>
                            </h3>

                            <p class="card-text">
                                Giúp sinh viên lập thời gian biểu, lên kế hoạch học tập
                            </p>
                            <span class="card-badge">Xem ngay</span>

                        </div>
                    </li>

                    <li>
                        <div class="category-card" style="--color: 351, 83%, 61%">

                            <div class="card-icon">
                                <img src="./static/images/category-2.svg" width="40" height="40" loading="lazy"
                                     alt="Non-Degree Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="{{url_for('chat_room')}}" class="card-title">Chat room</a>
                            </h3>

                            <p class="card-text">
                                Là nơi sinh viên hỏi - đáp những thắc mắc của mình
                            </p>

                            <span class="card-badge">Xem ngay</span>

                        </div>
                    </li>

                    <li>
                        <div class="category-card" style="--color: 229, 75%, 58%">

                            <div class="card-icon">
                                <img src="./static/images/category-3.svg" width="40" height="40" loading="lazy"
                                     alt="Off-Campus Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="{{url_for('product_list')}}" class="card-title">Library</a>
                            </h3>

                            <p class="card-text">
                                Giúp sinh viên xem và thuê sách phục vụ cho học tập
                            </p>

                            <span class="card-badge">Xem ngay</span>

                        </div>
                    </li>

                    <li>
                        <div class="category-card" style="--color: 42, 94%, 55%">

                            <div class="card-icon">
                                <img src="./static/images/category-4.svg" width="40" height="40" loading="lazy"
                                     alt="Hybrid Distance Programs" class="img">
                            </div>

                            <h3 class="h3">
                                <a href="{{url_for('note')}}" class="card-title">Text Notes</a>
                            </h3>

                            <p class="card-text">
                                Giúp sinh viên lưu lại những tài liệu học tập
                            </p>

                            <span class="card-badge">Xem ngay</span>

                        </div>
                    </li>

                </ul>

            </div>
        </section>


        <!--
          - #ABOUT
        -->

        <section class="section about" id="about" aria-label="about">
            <div class="container">

                <figure class="about-banner">

                    <div class="img-holder" style="--width: 520; --height: 370;">
                        <img src="./static/images/codehero.png" width="520" height="370" loading="lazy"
                             alt="about banner"
                             class="img-cover">
                    </div>

                    <!--                    <img src="./static/images/about-shape-1.svg" width="360" height="420" loading="lazy" alt=""-->
                    <!--                         class="shape about-shape-1">-->

                    <a href="https://www.facebook.com/profile.php?id=100086546124140">
                        <img src="./static/images/codehero.jpg" style="border-radius:50%" width="200" height="220" loading="lazy" alt=""
                         class="shape about-shape-2">
                    </a>

                    <img src="./static/images/about-shape-3.png" width="722" height="528" loading="lazy" alt=""
                         class="shape about-shape-3">

                </figure>

                <div class="about-content">

                    <p class="section-subtitle">About Us</p>

                    <h2 class="h2 section-title">
                        Giải quyết những <span class="span">vấn đề</span> của sinh viên trong Học tập
                    </h2>

                    <p class="section-text">
                        Nền tảng của chúng tôi được thiết kế để giúp sinh viên học tập tốt hơn bằng cách cung cấp các
                        công cụ và tài nguyên giáo dục hiệu quả, ngoài ra còn giải quyết những vấn đề của sinh viên
                    </p>

                    <ul class="about-list">

                        <li class="about-item">
                            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                            <span class="span">Theo dõi điểm số</span>
                        </li>

                        <li class="about-item">
                            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                            <span class="span">Luyện tập kĩ năng</span>
                        </li>

                        <li class="about-item">
                            <ion-icon name="checkmark-done-outline" aria-hidden="true"></ion-icon>

                            <span class="span">Cố vấn học tập</span>
                        </li>

                    </ul>

                    <img src="./static/images/about-shape-4.svg" width="100" height="100" loading="lazy" alt=""
                         class="shape about-shape-4">

                </div>

            </div>
        </section>

<!--
          - #question answer
        -->


        <!--
          - #COURSE
        -->



        <section class="section course" id="courses" aria-label="course">
            <div class="container">

                <p class="section-subtitle">Education</p>

                <h2 class="h2 section-title">Theo dõi những thông tin về học tập</h2>

                <ul class="grid-list">

                    <li>
                        <div class="course-card">

                            <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                                <img src="./static/images/huyMH.jpg" width="370" height="220" loading="lazy"
                                     alt="Build Responsive Real- World Websites with HTML and CSS" class="img-cover">
                            </figure>

                            <div class="abs-badge">
                                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                                <span class="span">3 Weeks</span>
                            </div>

                            <div class="card-content">

                                <span class="badge">Học tập</span>

                                <h3 class="h3">
                                    <a href="https://tienichsv.ou.edu.vn/#/home/listbaiviet/tb/page/1/baivietct/-8649083294195670453"
                                       class="card-title">Danh sách nhóm lớp hủy do không đủ sĩ số - Học kỳ 2 - năm học
                                        2022/2023</a>
                                </h3>

                                <div class="wrapper">

                                    <div class="rating-wrapper">

                                        <ion-icon name="calendar"></ion-icon>
                                    </div>

                                    <p class="rating-text">04/01/2023</p>

                                </div>

                                <div class="wrapper2">
                                    <i class='bx bx-share-alt bx-sm'></i>
                                    <data class="price" value="35">Chia sẻ</data>
                                </div>


                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="library-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Education</span>
                                    </li>

                                    <li class="card-meta-item">
                                        <i class='bx bxs-bookmark-star'></i>

                                        <span class="span">Cần cù bù siêng năng</span>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="course-card">

                            <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                                <img src="./static/images/dangkiMH.jpg" width="370" height="220" loading="lazy"
                                     alt="Java Programming Masterclass for Software Developers" class="img-cover">
                            </figure>

                            <div class="abs-badge">
                                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                                <span class="span">8 Weeks</span>
                            </div>

                            <div class="card-content">

                                <span class="badge">Tin tức</span>

                                <h3 class="h3">
                                    <a href="https://tienichsv.ou.edu.vn/#/home/listbaiviet/tb/page/1/baivietct/-4736609803208968789"
                                       class="card-title">Kế hoạch ĐKMH học kỳ 2 năm học 2022-2023 (Hệ Đại Trà)</a>
                                </h3>

                                <div class="wrapper">

                                    <div class="rating-wrapper">
                                        <ion-icon name="calendar"></ion-icon>
                                    </div>

                                    <p class="rating-text">08/12/2022</p>

                                </div>

                                <div class="wrapper2">
                                    <i class='bx bx-share-alt bx-sm'></i>
                                    <data class="price" value="35">Chia sẻ</data>
                                </div>


                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="library-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Education</span>
                                    </li>

                                    <li class="card-meta-item">
                                        <i class='bx bxs-bookmark-star'></i>

                                        <span class="span">Kiến thức là sức mạnh.</span>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="course-card">

                            <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                                <img src="./static/images/ontapMH.jpg" width="370" height="220" loading="lazy"
                                     alt="The Complete Camtasia Course for Content Creators" class="img-cover">
                            </figure>

                            <div class="abs-badge">
                                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                                <span class="span">3 Weeks</span>
                            </div>

                            <div class="card-content">

                                <span class="badge">Thi cử</span>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Hướng dẫn đăng ký ôn tập và thi đánh giá năng lực
                                        tiếng Anh đầu ra</a>
                                </h3>

                                <div class="wrapper">

                                    <div class="rating-wrapper">
                                        <ion-icon name="calendar"></ion-icon>
                                    </div>

                                    <p class="rating-text">13/09/2022</p>

                                </div>
                                <div class="wrapper2">
                                    <i class='bx bx-share-alt bx-sm'></i>
                                    <data class="price" value="35">Chia sẻ</data>
                                </div>

                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="library-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Education</span>
                                    </li>

                                    <li class="card-meta-item">
                                        <i class='bx bxs-bookmark-star'></i>

                                        <span class="span">Kiến thức là chìa khóa</span>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </li>

                </ul>

                <a href="#" class="btn has-before">
                    <span class="span">Xem thêm</span>

                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>

            </div>
            <div class="pyro">
        <div class="before"></div>

    </div>
        </section>

        <section class="section stats" aria-label="stats">

            <div class="container">
                <div class="thiTN">

                    <h1>Đếm ngược thời gian đến kỳ thi THPT Quốc Gia 2023</h1>
                    <h2> <i class='bx bxs-heart ' style="color:red"></i> Sự chuẩn bị kỹ càng và kiên trì là chìa khóa của thành công. <i class='bx bxs-heart ' style="color:red"></i></h2>
                    <h3>Ngày thi : 27/06/2023</h3>

                    <div class="countdown-container">
                        <div class="countdown-item" id="days">
                            <h1>
                                30
                            </h1>
                            <p>Ngày</p>
                        </div>
                        <div class="countdown-item" id="hours">
                            <h1>
                                30
                            </h1>
                            <p>Giờ</p>
                        </div>
                        <div class="countdown-item" id="minutes" >
                            <h1>
                                30
                            </h1>
                            <p>Phút</p>
                        </div>
                        <div class="countdown-item" id="seconds">
                            <h1>
                                30
                            </h1>
                            <p>Giây</p>
                        </div>

                    </div>
                </div>
            </div>

            </div>
        </section>


        <!--
          - #BLOG
        -->

        <section class="section blog has-bg-image" id="blog" aria-label="blog"
                 style="background-image: url('./assets/images/blog-bg.svg');  background-color: var(--isabelline);">
            <div class="container">

                <p class="section-subtitle">Brato Education</p>

                <h2 class="h2 section-title">Gợi ý sách dành cho bạn</h2>

                <ul class="grid-list">

                    <li>
                        <div class="blog-card">

                            <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                                <img src="https://ironhackvietnam.edu.vn/wp-content/uploads/2021/03/sach-day-lap-trinh-co-ban.jpg" width="370" height="370" loading="lazy"
                                     alt="Become A Better Blogger: Content Planning" class="img-cover">
                            </figure>

                            <div class="card-content">

                                <a href="https://ironhackvietnam.edu.vn/wp-content/uploads/2021/03/sach-hoc-lap-trinh.jpg" class="card-btn" aria-label="read more">
                                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                </a>

                                <a href="https://ironhackvietnam.edu.vn/wp-content/uploads/2021/03/sach-hoc-lap-trinh.jpg" class="card-subtitle">Cơ sở 1</a>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Lập trình và cuộc sống</a>
                                </h3>

                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Oct 10, 2021</span>
                                    </li>

                                    <li class="card-meta-item">
                                        <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Com 09</span>
                                    </li>

                                </ul>

                                <p class="card-text">
                                  “Lập Trình Và Cuộc Sống” của Jeff Atwood chú trọng vào yếu tố con người. Bởi Jeff Atwood cho rằng “để lập trình hiệu quả, viết code thôi là chưa đủ, con người mới là nhân tố quan trọng nhất”.
                                </p>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="blog-card">

                            <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                                <img src="https://ironhackvietnam.edu.vn/wp-content/uploads/2021/03/sach-hoc-lap-trinh.jpg" width="370" height="370" loading="lazy"
                                     alt="Become A Better Blogger: Content Planning" class="img-cover">
                            </figure>

                            <div class="card-content">

                                <a href="#" class="card-btn" aria-label="read more">
                                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                </a>

                                <a href="#" class="card-subtitle">Cơ sở 3</a>

                                <h3 class="h3">
                                    <a href="#" class="card-title"> Tớ Học Lập Trình </a>
                                </h3>

                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Oct 10, 2021</span>
                                    </li>

                                    <li class="card-meta-item">
                                        <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Com 09</span>
                                    </li>

                                </ul>

                                <p class="card-text">
                               Nếu bạn là một beginner, thì cuốn sách “Tớ Học Lập Trình” là một sự lựa chọn hoàn hảo.

Bởi nội dung cuốn sách này chủ yếu đề cập đến những hướng dẫn chi tiết và kiến thức cơ bản nhất về lập trình.
                                </p>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="blog-card">

                            <figure class="card-banner img-holder has-after" style="--width: 370; --height: 370;">
                                <img src="https://ironhackvietnam.edu.vn/wp-content/uploads/2021/03/sach-lap-trinh-666x1024.jpg" width="370" height="370" loading="lazy"
                                     alt="Become A Better Blogger: Content Planning" class="img-cover">
                            </figure>

                            <div class="card-content">

                                <a href="#" class="card-btn" aria-label="read more">
                                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                                </a>

                                <a href="#" class="card-subtitle">Cơ sở 3</a>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Kí sự code dạo</a>
                                </h3>

                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Oct 10, 2021</span>
                                    </li>

                                    <li class="card-meta-item">
                                        <ion-icon name="chatbubbles-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Com 09</span>
                                    </li>

                                </ul>

                                <p class="card-text">ọc
                                    “Code Dạo Kí Sự” bao gồm những chia sẻ kinh nghiệm về việc học lập trình và quá trình làm việc với tư cách là một Developer Full Stack.Hãy tìm u bạn đang mong muốn tìm cho mình sách học.
                                </p>

                            </div>

                        </div>
                    </li>

                </ul>

                <img src="./static/images/blog-shape.png" width="186" height="186" loading="lazy" alt=""
                     class="shape blog-shape">

            </div>
        </section>

    </article>
</main>


<!--
  - #FOOTER
-->




<!--
  - #BACK TO TOP
-->

<a href="#top" class="back-top-btn" aria-label="back top top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
</a>


<!--
  - custom js link
-->
{% block script %}
<script src="{{url_for('static', filename = 'js/js_chung.js')}}"></script>

{% endblock %}


<!--
  - ionicon link
-->

{% endblock %}


