{% extends 'layout/base.html' %}

{% block title %} Trang chu {% endblock %}

{% block content %}

<img src="{{ url_for('static', filename='images/hero-bg.svg') }}" style="position: absolute; z-index:-1; top:-200px"
     alt="">
<!--<h1 class="title_products">Nhà sách OU</h1>-->
<div class="dropdown" style="margin-top:96px">
  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" style="font-size:18px;background: #ff6a00;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danh mục sản phẩm</a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
       <a class="dropdown-item" href="/products" style="font-size:14px">Tất cả sản phẩm</a>
      {% for cate in cates %}
  <a class="dropdown-item" href="/products?category_id={{cate.id}}" style="font-size:14px">{{cate.name}}</a>

    {% endfor %}
  </div>
</div>



<div class="products__banner" style="">

    <form class="form-inline form__search">

        <input class="form-control mr-sm-2 search" name="keyword" type="search"
               placeholder="Nhập từ khóa để tìm kiếm..."
               aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img
                src="https://img.alicdn.com/imgextra/i1/O1CN01WaDuwO256WBsSocYY_!!6000000007477-2-tps-48-48.png"
                alt="">
        </button>
    </form>
</div>
<div class="products__main">

    <div class="book__mark">
        <box-icon type='solid' color="red" size='sm' name='bookmark'></box-icon>
        <h4><i class='bx bxs-bookmark-star' style="color:red"></i> Danh mục sản phẩm</h4>
    </div>
    {% if products %}

        <div class="row">
            {% for p in products %}
            <div class="col-md-3 col-sm-12" style="padding:1rem;">
                <div class="card">
                    <img class="card-img-top" src="{{ p.image }}" alt="{{ p.name }}" height="380px">
                    <div class="card-body">
                        <h4 class="card-title">{{ p.name }}</h4>
                        <p class="card-text" style="color:red; font-weight:500; font-size:14px">{{
                            "{:,.0f}".format(p.price) }} VNĐ</p>
                        <div class="book_products">
                            <a href="{{url_for('product_detail', product_id=p.id)}}" class="btn btn-primary">Xem chi
                                tiết</a>
                            <a href="javascript:;" onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}})"
                               class="btn btn-danger" onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}})">Đặt
                                hàng</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    {% else %}
    <h4 class="text-danger">Không có sản phầm nào!</h4>
    {% endif %}

    <ul class="pagination d-flex justify-content-center">
        {%if pages > 1%}
        {% for i in range(1, pages + 1) %}
        <li class="page-item"><a class="page-link"
                                 href="{{url_for('product_list', page=i, category_id=cate_id)}}">{{i}}</a>
        </li>
        {% endfor %}
        {%endif%}
    </ul>
</div>
</div>

<script>
const dropdownToggle = document.querySelector('.dropdown-toggle');
const dropdownMenu = document.querySelector('.dropdown-menu');

dropdownToggle.addEventListener('click', function() {
  dropdownMenu.classList.toggle('show');
});

window.addEventListener('click', function(e) {
  if (!dropdownToggle.contains(e.target) && !dropdownMenu.contains(e.target)) {
    dropdownMenu.classList.remove('show');
  }
});
</script>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="../static/css/products.css"/>
{%endblock%}