{% extends 'layout/base.html' %}

{% block content %}
<style>
    @media screen and (max-width: 462px){
        h1{
            font-size:14px !important;
        }
        .chart{
        display: flex;
    width: 200px !important;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px !important;
margin-bottom: 135px;
        }
    }
</style>
<div class="stat_main" style="margin-top:150px">
<h1 style="display:flex; justify-content:center">Thống kê số lượng sinh viên theo từng khoa</h1>
<div class="chart" style="display: flex;
    width: 400px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
margin-bottom: 135px;">
    <canvas id="myChart"></canvas>
</div>
<section class="section course" id="courses" aria-label="course">
            <div class="container">

                <p class="section-subtitle">Education</p>

                <h2 class="h2 section-title">Theo dõi những thông tin về học tập</h2>

                <ul class="grid-list">

                    <li>
                        <div class="course-card">

                            <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                                <img src="./static/images/huyMH.jpg" width="370" height="220" loading="lazy"
                                     alt="Build Responsive Real- World Websites with HTML and CSS" class="img-cover">
                            </figure>

                            <div class="abs-badge">
                                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                                <span class="span">3 Weeks</span>
                            </div>

                            <div class="card-content">

                                <span class="badge">Học tập</span>

                                <h3 class="h3">
                                    <a href="https://tienichsv.ou.edu.vn/#/home/listbaiviet/tb/page/1/baivietct/-8649083294195670453"
                                       class="card-title">Danh sách nhóm lớp hủy do không đủ sĩ số - Học kỳ 2 - năm học
                                        2022/2023</a>
                                </h3>

                                <div class="wrapper">

                                    <div class="rating-wrapper">

                                        <ion-icon name="calendar"></ion-icon>
                                    </div>

                                    <p class="rating-text">04/01/2023</p>

                                </div>

                                <div class="wrapper2">
                                    <i class='bx bx-share-alt bx-sm'></i>
                                    <data class="price" value="35">Chia sẻ</data>
                                </div>


                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="library-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Education</span>
                                    </li>

                                    <li class="card-meta-item">
                                        <i class='bx bxs-bookmark-star'></i>

                                        <span class="span">Cần cù bù siêng năng</span>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="course-card">

                            <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                                <img src="./static/images/dangkiMH.jpg" width="370" height="220" loading="lazy"
                                     alt="Java Programming Masterclass for Software Developers" class="img-cover">
                            </figure>

                            <div class="abs-badge">
                                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                                <span class="span">8 Weeks</span>
                            </div>

                            <div class="card-content">

                                <span class="badge">Tin tức</span>

                                <h3 class="h3">
                                    <a href="https://tienichsv.ou.edu.vn/#/home/listbaiviet/tb/page/1/baivietct/-4736609803208968789"
                                       class="card-title">Kế hoạch ĐKMH học kỳ 2 năm học 2022-2023 (Hệ Đại Trà)</a>
                                </h3>

                                <div class="wrapper">

                                    <div class="rating-wrapper">
                                        <ion-icon name="calendar"></ion-icon>
                                    </div>

                                    <p class="rating-text">08/12/2022</p>

                                </div>

                                <div class="wrapper2">
                                    <i class='bx bx-share-alt bx-sm'></i>
                                    <data class="price" value="35">Chia sẻ</data>
                                </div>


                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="library-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Education</span>
                                    </li>

                                    <li class="card-meta-item">
                                        <i class='bx bxs-bookmark-star'></i>

                                        <span class="span">Kiến thức là sức mạnh.</span>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="course-card">

                            <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                                <img src="./static/images/ontapMH.jpg" width="370" height="220" loading="lazy"
                                     alt="The Complete Camtasia Course for Content Creators" class="img-cover">
                            </figure>

                            <div class="abs-badge">
                                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                                <span class="span">3 Weeks</span>
                            </div>

                            <div class="card-content">

                                <span class="badge">Thi cử</span>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Hướng dẫn đăng ký ôn tập và thi đánh giá năng lực
                                        tiếng Anh đầu ra</a>
                                </h3>

                                <div class="wrapper">

                                    <div class="rating-wrapper">
                                        <ion-icon name="calendar"></ion-icon>
                                    </div>

                                    <p class="rating-text">13/09/2022</p>

                                </div>
                                <div class="wrapper2">
                                    <i class='bx bx-share-alt bx-sm'></i>
                                    <data class="price" value="35">Chia sẻ</data>
                                </div>

                                <ul class="card-meta-list">

                                    <li class="card-meta-item">
                                        <ion-icon name="library-outline" aria-hidden="true"></ion-icon>

                                        <span class="span">Education</span>
                                    </li>

                                    <li class="card-meta-item">
                                        <i class='bx bxs-bookmark-star'></i>

                                        <span class="span">Kiến thức là chìa khóa</span>
                                    </li>

                                </ul>

                            </div>

                        </div>
                    </li>

                </ul>

                <a href="#" class="btn has-before">
                    <span class="span">Xem thêm</span>

                    <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                </a>

            </div>
        </section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
     const getChart = document.getElementById('myChart');
     let data_ten = [], data_soluong = []

    {% for i in ten %}
        data_ten.push('{{i}}')
    {%endfor%}

    {% for i in soluong %}
        data_soluong.push('{{i}}')
    {%endfor%}

     new Chart(getChart, {
    type: 'doughnut',
    data: {
      labels: data_ten,
      datasets: [{
        label: 'Thống kê top điểm trung bình theo môn theo khoa',
        data: data_soluong,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });


</script>
{%endblock%}
</div>